
{% extends "cfstack/base.html" %}
{% block content %}
<div class="page-wrapper">

    <div class="row">
        <div id="stacklist" class="column" hx-boost="true">
            <ul>
            {%  for stackname in stacks %}
            <li hx-get="/butt" hx-trigger="mouseenter" hx-target="#stack-details"><a href="{% url 'stack_detail_url' stack_file_name=stackname %}">
               {{ stackname }}
            </a>
            </li>
            {% endfor %}
            </ul>
        </div>
        <div id="stack-details"</div>
        
    </div>
    
</div>    
{% endblock %}